<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editModalLabel">View License</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="license_edit" method="POST">
                    <div class="form-outline mb-4">
                        <input id="mod-in-softwareName1"  name="softwareName" type="text" class="form-control"  disabled="disabled"/>
                        <label class="form-label" for="form3Example3">Software Name</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input id="mod-in-softwareVersion1" name="softwareVersion" type="text" class="form-control"  disabled="disabled"/>
                        <label class="form-label" for="form3Example4">Software Version</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input id="mod-in-totalPurchased1" name="totalPurchased" type="text" class="form-control"  disabled="disabled"/>
                        <label class="form-label" for="form3Example4">Total Purchased</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input id="mod-in-mangedToInstall1" name="mangedToInstall" type="text" class="form-control"  disabled="disabled"/>
                        <label class="form-label" for="form3Example4">Manged to Install</label>
                    </div>

                    <div class="form-outline mb-4">
                        <select id="mod-in-complianceStatus1" name="complianceStatus" class="form-control" disabled>
                            <option value="In Compliance">In Compliance</option>
                            <option value="Under Licensed">Under Licensed</option>
                            <option value="Over Licensed">Over Licensed</option>

                        </select>
                        <label class="form-label" for="form3Example4">Compliance Status</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input id="mod-in-networkInstallations1" name="networkInstallations" type="text" class="form-control"  disabled="disabled"/>
                        <label class="form-label" for="form3Example4">Network Installations</label>
                    </div>

                    <input id="mod-in-id1" name="id" value="" type="hidden" class="form-control"/>
                    <input id="mod-in-row1" name="row" value="" type="hidden" class="form-control"/>
                    <!-- Submit button -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>

